*background:            #272827
*foreground:            #657b83
*fading:                15
*fadeColor:             black
*cursorColor:           #16A085
*pointerColorBackground:#2B2C2B
*pointerColorForeground:#16A085

URxvt.internalBorder: 6

*.color254:     #3e646f
*.color255:     #3e646f
*.borderColor:  #1c1c22
*.background:	#1c1c22
*.foreground:	#b0aba8
*.cursorColor:  #b0aba8
*.color0:       #313131
*.color8:       #434343
*.color1:       #7e6565
*.color9:       #807171
*.color2:       #85aab6
*.color10:      #3e646f
*.color3:       #90a996
*.color11:      #badbc2
*.color4:       #3e646f
*.color12:      #5c828d
*.color5:       #817f98
*.color13:      #9b98b7
*.color6:       #9aa7c0
*.color14:      #b2b7c0
*.color7:       #b0aba8
*.color15:      #d9d6ca

Xcursor.theme: Breeze
Xcursor.size:  0

XTerm*background: #6aa7a5
XTerm*foreground: #6aa7a5
XTerm*reverseVideo: on
!XTerm*faceName: Terminus:size=11:antialias=true
!XTerm*faceName: InconsolataRegular:size=11:antialias=true
XTerm*faceName: HackRegular:size=10:antialias=true
XTerm*selectToClipboard: true

!URxvt.font: xft:HackRegular:size=8
!URxvt.letterSpace: -1
URxvt.depth: 32
URxvt.background:	[100]#1c1c22
URxvt*transparent: true
URxvt*shading: 30
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
!URxvt*.background:   		      #1c1c22
URxvt*.foreground: 		      #b0aba8
URxvt*cursorColor:		      #b0aba8
URxvt*saveLines:                      5000

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!XTerm*background: #2b2b2b
!XTerm*foreground: #e7e7e7
!XTerm*pointerColor: #16A085
!XTerm*faceName: Fixed
!XTerm*faceSize: 10
